<div style="text-align: center;">
<h1>Interpolation</h1>
<div>City:{{'Welcome To ' + city}}</div>

<button style="background-color: red; color: white; border-radius: 10px;" (click)="changecity()">Change City</button> <br>
{{num1 + num2}} <br>
{{num1 - num2}} <br>
{{num1 * num2}}
</div>

<h1 style="text-align: center;">Attribute Binding</h1>
<div style="display: flex;justify-content: center;">
  <table border="1">
    <tr>
      <td [attr.colspan]="col">Employee Details</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>Muhammad</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>Kashif Shah</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
  
  </table>
</div>
<h1 style="text-align: center;">Property Binding</h1><br>
<div style="text-align: center;">
  <span [innerHTML]="Name"></span><br><br>
  <img [src]="imgpath" alt="Logo" width="200px"><br>
  <h1>interpolation Binding</h1><br>
  <span innerHTML="{{Name}}"></span><br>
  <img src="{{imgpath}}" alt="Logo" width="200px">
</div>
<h1 style="text-align: center;">Difference B/W property & Interpolation Binding</h1>
<div style="text-align: center;">
  <h2>Interpolation Binding</h2> <br>
      <button disabled="{{currentvalue}}">Click Me</button><br>
      <h2>Property Binding</h2><br>
      <button [disabled]="currentvalue">Click Me</button><br>
      <h2>Difference</h2><br>
      <button (click)="enabaledvalue()">Enabaled</button>
</div>
<div style="text-align: center;">
<h1>Event Binding</h1><br>
<button (click)="click1()">Click One</button>
<button on-click="click2()">Click Two</button><br>
<h3>Keyup Event</h3><br>
<input type="text" (keyup)="keyup()"><br>
<h3>KeyDown Event</h3><br>
<input type="text" (keydown)="keydown()"><br>
<h3>Input Event</h3><br>
<input type="text" (input)="input()"><br>
<h3>View sy ts Mae Data Set Karna </h3><br>
Enter Your Message: <input type="text" #txtmsg (keyup)="setmessage(txtmsg.value)"><br>
your Message:{{_message}} <br>
<h3>Second Method</h3> <br>
Enter your Message: <input type="text" #txtmsgs (keyup)="msg=txtmsgs.value"> <br>
Your Message:{{msg}}

</div>
<div style="text-align: center;">
  <h1>Two Way Data Binding</h1><br>
  <input type="text" [(ngModel)]="twoway"><br>
  Your Msg: {{twoway}}

</div>